.local-tour {
    margin-top: 30px;
    background-color: #f7f7f7;
    padding-top: 20px;
    margin-bottom: 20px;
}


.local-tour>.container>.flex>.title {
    font-size: 23px;
    font-weight: 600;
    line-height: 36px;
}

.local-tour .btn-view-all {
    cursor: pointer;
    font-size: 14px;
    padding: 0px 18px;
    padding-top: 2px;
    line-height: 32px;
    border-radius: 3px;
    color: #2947e5;
    border: 1px solid var(--blue);
    margin-bottom: 20px;
}

.tour-wrapper {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.tour-wrapper .tour {
    height: fit-content;
    border-bottom: 1px solid #dddfe2;
    background-color: white;
    width: calc(33.3333333% - 22px);
    margin: 0px 10px;
    margin-bottom: 20px;
}

.tour>.img-wrapper {
    position: relative;
    overflow: hidden;
}

.tour>.img-wrapper>.from {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px 14px;
    background-color: #00000059;
    transition: bottom 0.3s ease;
}

.tour>.img-wrapper:hover>.from {
    bottom: -40px;
}

.tour>.img-wrapper>img {
    transition: transform 0.3s ease;
}

.tour>.img-wrapper:hover>img {
    transform: scale(1.2);
}

.tour img {
    width: 100%;
    aspect-ratio: 77/50;
}

.tour>.content {
    padding: 10px 14px;
}

.tour .title {
    height: 44px;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin-bottom: 14px;
}

.tour .info {
    margin-top: 10px;
}

.tour .price {
    margin-top: 10px;
    font-size: 28px;
    color: #ff3535;
    font-weight: bold;
}

.tour .flex {
    align-items: center;
}

.tour .original-price {
    margin-top: 10px;
    font-size: 18px;
    color: #555555;
    font-weight: bold;
    text-decoration: line-through;
}

.international_tour {
    padding-top: 30px;
    /* background-color: white; */
}

.international_tour .tour {
    /* border: 1px solid #dddfe2; */
    width: calc(33.3333333% - 23px);
}